<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Health monitoring</display-name>
  <welcome-file-list>
    <welcome-file>LoginPage.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>reg</servlet-name>
    <servlet-class>controller.Economy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/Economy.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpFilter</servlet-name>
    <servlet-class>Filters.SignUpFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpFilter</servlet-name>
    <url-pattern>/SignUpFilter.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginFilter</servlet-name>
    <servlet-class>Filters.LoginFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFilter</servlet-name>
    <url-pattern>/LoginFilter.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>V_SignUpFilter</servlet-name>
    <servlet-class>Vendor_Filters.V_SignUpFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>V_SignUpFilter</servlet-name>
    <url-pattern>/V_SignUpFilter.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>V_LoginFilter</servlet-name>
    <servlet-class>Vendor_Filters.V_LoginFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>V_LoginFilter</servlet-name>
    <url-pattern>/V_LoginFilter.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vend</servlet-name>
    <servlet-class>Vendor_Filters.Vendor_detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vend</servlet-name>
    <url-pattern>/Vendor_detail.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>pro</servlet-name>
    <servlet-class>Vendor_Filters.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pro</servlet-name>
    <url-pattern>/Product.do</url-pattern>
  </servlet-mapping>
</web-app>